beautifulsoup4==4.11.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
docopt==0.6.2
docx==0.2.4
et-xmlfile==1.1.0
idna==3.4
lxml==4.9.2
markdown-it-py==2.1.0
mdurl==0.1.2
midi==0.2.3
mido==1.2.10
numpy==1.24.1
openpyxl==3.0.10
pandas==1.5.3
pdfrw==0.4
Pillow==9.4.0
pipreqs==0.4.11
plotly==5.13.0
pycryptodome==3.16.0
pygame==2.1.2
Pygments==2.14.0
pypiwin32==223
python-dateutil==2.8.2
python-docx==0.8.11
PythonToolsKit==1.2.2
pytz==2022.7.1
pywin32==305
requests==2.28.2
rich==13.3.1
six==1.16.0
soupsieve==2.3.2.post1
tenacity==8.2.1
tqdm==4.64.1
urllib3==1.26.14
Win32Security==2.1.0
windows==0.1.1
WMI==1.5.1
yarg==0.1.9
